apiVersion: apps/v1
kind: Deployment
metadata:
  name: cvee-api
  namespace: cvee
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cvee-api
  template:
    metadata:
      labels:
        app: cvee-api
    spec:
      containers:
        - name: cvee-api
          image: cvee-api:latest
          imagePullPolicy: IfNotPresent  #change to Always if rebuilding image
          ports:
            - containerPort: 8000
          env:
            - name: DB_HOST
              value: postgres
            - name: DB_PORT
              value: "5432"
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: pg-secret
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: pg-secret
                  key: POSTGRES_PASSWORD
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: pg-secret
                  key: POSTGRES_DB
