apiVersion: batch/v1
kind: Job
metadata:
  name: init-db
  namespace: cvee
spec:
  template:
    spec:
      containers:
        - name: init-db
          image: docker-init-db:latest   # ton image rebuild
          imagePullPolicy: IfNotPresent
          env:
            - name: DB_HOST
              value: "postgres"  # nom du service Kubernetes PostgreSQL
            - name: DB_PORT
              value: "5432"
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: pg-secret
                  key: POSTGRES_DB
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: pg-secret
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: pg-secret
                  key: POSTGRES_PASSWORD
      restartPolicy: Never
  backoffLimit: 1
